html{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    text-align: center;
}

thead{ /*BANNER*/
    background-color: #666;
}

tbody td:nth-child(1), tbody td:nth-child(3){ /* PUB*/
    background-color: #555;
    width: 10%;
}

tbody td:nth-child(2){ /*MAIN*/
    background-color: #999;
    width: 80%;
}

tfoot{ /*MENTION LEGAL & AUTRE*/
    background-color: #666;
}