html{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.general_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*fr = fragments*/
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.banner {
    grid-column: 1 / 5;
    grid-row: 1;

    text-align: center;
}
.main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}
.pub_left {
    grid-column: 1;
    grid-row: 2 / 4;
}
.pub_right {
    grid-column: 4;
    grid-row: 2 / 4;
}
.legal_mention{
    grid-column: 1 / 5;
    grid-row: 4;

    text-align: center;
    vertical-align: middle;
}